/* *{
  border: 3px solid green;
} */

body{
    font-family: "Manrope", serif;
    background-color: #ffffff; 
}
  svg {
        stroke: #000000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1px;
      }

    svg:hover{
        fill: #ff0000;

          
          

    }

      .container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            ". . i i i i i i i i . ."
            ". . . t t t t t t . . ."
            ". . . c c c c c c . . .";
    }
    
    .image-container {
        grid-area: i;
    }
    
    .text-container {
        grid-area: t;
    }
    
    .icon-container {
        grid-area: c;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @keyframes pulse {
      from {
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        transform: scale3d(1.05, 1.05, 1.05);
      }
    
      to {
        transform: scale3d(1, 1, 1);
      }
    }
    
    .pulse svg{
      animation-name: pulse;
      animation-timing-function: ease-in-out;
    }